.context {
  cursor: context-menu;
}

nav.react-contextmenu {
  border : 1px solid rgb(89, 89, 89);
  border-radius: 4px;
  padding: 6px;
  background-color : rgb(255,255,255);
  box-shadow: 5px 5px 5px rgb(157, 157, 157,);
  min-width : 100px;
}

tr.grid-row-sort-move {
  display : flex;
  justify-content: space-around;
  align-items: center;
  border : 2px #e3e3e3 dashed;
}
