<?=$menu?>
<div class="pager-listing" id="slide-list" data-rpp="10" data-pager-url="carousel/admin/?command=list_slides">
    <div class="row" style="margin-top:1em">
        <div class="col-sm-3">
            <button class="btn btn-primary" id="new-slide">Create slide</button>
        </div>
        <div class="col-sm-9 pager-search" style=""></div>
    </div>
    <div class="row">
        <div class="col-sm-6 page-list"></div>
        <div class="col-sm-6 page-limit" style="padding:25px 15px"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped sans">
                <thead class="pager-head">
                    <tr>
                        <th class="pager-header" style="width:5%">Order</th>
                        <th class="pager-header" style="width:225px"></th>
                        <th class="pager-header">Title</th>
                        <th class="pager-header">Caption</th>
                        <th class="pager-header" style="width:5%">Active</th>
                    </tr>
                </thead>
                <tbody class="pager-body" id="sortable">
                    <tr class="pager-row" data-row-id="" style="cursor:pointer">
                        <td class="pager-column queue"></td>
                        <td class="pager-column filepath"></td>
                        <td class="pager-column title"></td>
                        <td class="pager-column caption"></td>
                        <td class="pager-column active-slide"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?=$modal?>