<style>
    .radio-label {
        display:inline;
    }
    .radio-label:after {
        content:"\a"; white-space:pre;
    }
</style>
<?php echo $menu?>
<h1>Carousel settings</h1>
<?php echo $form_start?>
<?php if(isset($message)):?>
<div class="alert alert-success alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <?php echo $message?>
</div>
<?php endif; ?>
<div style="width:300px"><?php echo $iteration_group?></div>
<div style="width:300px"><?php echo $time_interval_group?></div>
<div style="width:300px">
    <fieldset><legend>Transition type</legend>
    <?php echo $transition_group?>
    </fieldset>
</div>
<div style="width:300px">
    <fieldset><legend>Indicator type</legend>
    <?php echo $indicator_group?>
    </fieldset>
</div>
<?php echo $save?>
<?php echo $form_end?>