<style>
    .radio-label {
        display:inline;
    }
    .radio-label:after {
        content:"\a"; white-space:pre;
    }
</style>
<?=$menu?>
<h1>Carousel settings</h1>
<?=$form_start?>
<?php if(isset($message)):?>
<div class="alert alert-success alert-dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <?=$message?>
</div>
<?php endif; ?>
<div style="width:300px"><?=$iteration_group?></div>
<div style="width:300px"><?=$time_interval_group?></div>
<div style="width:300px">
    <fieldset><legend>Transition type</legend>
    <?=$transition_group?>
    </fieldset>
</div>
<div style="width:300px">
    <fieldset><legend>Indicator type</legend>
    <?=$indicator_group?>
    </fieldset>
</div>
<?=$save?>
<?=$form_end?>