<?php echo $form_start ?>
<div class="filepath-group form-group">
    <?php echo $filepath_label ?>
    <a href="#" data-toggle="tooltip" title="JPG/JPEG or PNG files only. Must be larger than <?php echo $min_width, 'x', $min_height?>px."><i class="fa fa-question-circle" id="file-note"></i></a>
    <?php echo $filepath?>
</div>
<?php echo $show_title_group ?>
<?php echo $title_group ?>
<?php if (\Current_User::isDeity()): ?>
<label><input type="checkbox" name="allowHtml" id="allowHtml" /> Use HTML caption</label>
<?php endif; ?>
<?php echo $caption_group ?>
<?php echo $url_group ?>
<?php echo $caption_zone_group ?>
<?php echo $form_end?>
<div class="text-center" style="margin-top : 10px; border-top : 1px solid #eee; padding : 6px;" id="delete-slide">
    <button class="btn btn-danger" id="delete-button">
        <span class="confirm">Delete slide</span>
    </button>
</div>