<div id="carousel-slides" class="hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <?php
        switch($slide['caption_zone']){
        case 0:
        $vertical = 'bottom';
        $horizontal = 'center';
        break;
        case 1:
        $vertical = 'top';
        $horizontal = 'left';
        break;
        case 2:
        $horizontal = 'right';
        $vertical = 'top';
        break;
        case 3:
        $horizontal = 'left';
        $vertical = 'bottom';
        break;
        case 4:
        $horizontal = 'right';
        $vertical = 'bottom';
        break;
        }
        if (!empty($slide['url']) && !empty($slide['title'])) {
        $caption_title = '<a href="'.$slide['url'].'">'.$slide['title'].'</a>';
        } else {
        $caption_title = $slide['title'];
        }
        ?>
        <div class="item active">
            <img class="carousel-slide-image"  data-src=">768:<?php echo $slide['filepath']?>" alt="<?php echo $slide['title']?>"
                 style="display:none;" onload="this.style.display = 'inline';
                         this.style.opacity = '1';" data-url="<?php echo $slide['url']?>" />
            <noscript><img src="<?php echo $slide['filepath']?>" alt="<?php echo $slide['title']?>" /></noscript>
            <?php if (!empty($slide['caption'])): ?>
            <div class="carousel-caption <?php echo $vertical?>">
                <div class="carousel-container <?php echo $horizontal?>">
                    <div class="title">
                        <h3><?php echo $caption_title?></h3>
                    </div>
                    <div class="content">
                        <?php echo $slide['caption']?>
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>
