<div id="carousel-slides" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <?php
        $count = count($slides);
        for($i = 0; $i<$count; $i++) {
        $class = $i ? null : " class='active'";
        echo "<li data-target='#carousel-slides' data-slide-to='$i'$class></li>";
        }
        ?>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <?php
        $active=true;
        foreach ($slides as $id=>$s){
        ?>
        <div class="item <?= $active ? 'active':null;?>">
            <img class="carousel-slide-image" data-url="<?=$s['url']?>" src="<?=$s['src']?>" alt="<?=$s['title']?>" />
            <?php if (!empty($s['caption'])): ?>
            <div class="carousel-caption">
               <?=$s['caption']?>
            </div>
            <?php endif; ?>
        </div>
        <?php
        $active = false;
        } // end foreach
        ?>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-slides" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-slides" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>