.carousel-indicators {
  bottom: 0;
  opacity: 0.6;
}

.carousel-caption {
  background-color: inherit;
  text-shadow: none;
  padding: 0;
  width: 90%;
  left: 5%;

  .top {
    top: 5%;
  }

  .bottom {
    bottom: 13%;
  }

  .carousel-container {
    width: 40%;
  }
}

.carousel-container.right {
  float: right;
}

.carousel-container.center {
  margin: 0 auto;
}

.carousel-thumbnails .carousel-indicators.thumbnail {
  background-color : rgba(0,0,0,.7);
  bottom : 0px;
  li {
    height: auto;
    width: 100px;
    text-indent: inherit;
    background-color: inherit;

  }
}

.carousel-caption {
  div.title {
    background-color: rgba(0,0,0, 0.3);
    text-align: left;
    padding: 4px 8px;

    h3 {
      color: white;
      margin: 0;

      a {
        color: #ffcc00;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  div.content {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 4px 8px;
  }
}
